table, p {
  text-align: center;
  margin: 0 auto;
  font-size: 21px;
  width: 80%;
}

p {
  font-size: 32px;
  padding-top: 2%;
  padding-bottom: 2%;
}

span {
  font-weight: bold;
}

tr, td, th {
  border: 1px solid lightgray;
  padding: 10px;
}

td.success {
  background: rgba(139, 195, 74, 0.36);
}

td.error {
  background: rgba(223, 0, 0, 0.36);
}

td.todo {
  background: rgba(255, 165, 0, 0.36);
}